# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
*.cmd
*.tmp
imixKernel.si4project/
*.d
*.lzo
zImage
vmlinux
*.dtb
.tmp_vmlinux1
.tmp_vmlinux2
.version
*.map
*.su
*.bin
imixUboot.si4project/
u-boot
u-boot.imx
u-boot.lds
u-boot.srec
